.grid {
  display: grid;
  grid-template-areas:
    "sideinfo"
    "text"
    "tags"
    "separator"
    "author";
  gap: 50px;
  padding: 100px 35px;
}
@media screen and (min-width: 770px) {
  .grid {
    grid-template-areas:
      "sideinfo text"
      "sideinfo  tags"
      "sideinfo  separator"
      "sideinfo  author";
    grid-template-columns: max-content minmax(auto, 860px);
    padding: 100px 70px;
  }
}
.sideInfo {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  gap: 7px;
}
.sideInfo__separator {
  display: none;
  width: 35px;
  height: 1px;
  background-color: #c4c4c4;
}
@media screen and (min-width: 770px) {
  .sideInfo__separator {
    display: block;
  }
}
.text {
  grid-area: text;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
}
.text p {
  margin: 0;
}
.tags {
  grid-area: tags;
  display: flex;
  gap: 1.5rem;
}
.separator {
  grid-area: separator;
  background-color: #c4c4c4;
  width: 100%;
  height: 0.5px;
}
.author {
  grid-area: author;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
