.navmenu__list {
  display: none;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  width: 100%;
}
.navmenu__links {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1.3rem;
  list-style-type: none;
  font-family: Roboto, sans-serif;
  color: white;
}
.separator {
  background-color: white;
  width: 1px;
  height: 20px;
}
@media screen and (min-width: 770px) {
  .navmenu__list {
    display: flex;
  }
}
