.body {
  background-color: #212529;
  padding: 106px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sectionTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}
.col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.infoList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  color: #e5e5e5;
}
