.body {
  display: grid;
  position: relative;
  grid-auto-columns: minmax(1vw, 1440px);
  min-height: 1vh;
  justify-content: center;
  position: relative;
  isolation: isolate;
}
.main {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}
.header {
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  z-index: 1;
  height: max-content;
}
