.header {
  width: min(100%, 1440px);
  min-height: 80px;
  background: rgba(0, 0, 0, 0.2);
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
