.relatedArticles {
  padding: 100px 2rem;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(229, 229, 229, 0.3);
  display: flex;
  gap: 50px;
  flex-direction: column;
}
@media screen and (min-width: 770px) {
  .relatedArticles {
    padding: 100px 70px;
  }
}
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #495057;
}
.title--large {
  font-size: 36px;
}
.list {
  display: flex;
  gap: 20px;
}
